body {
    width: 70vw;
    margin: 10px auto;
    color: white;
    text-align: center;
}

#top{
    background-color: green;
    padding: 10px;
}

#middle{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.item{
    margin: 10px;
    height: 40vh;
    line-height: 40vh;
}

#left{
    background-color: red;
    flex: auto;
    margin-left: 0;
}

#center{
    background-color: blueviolet;
    flex: auto;
}

#right{
    background-color: blue;
    flex: auto;
    margin-right: 0;
}

#bottom{
    background-color: brown;
    padding: 10px;
}