table {
    width: 400px;
    height: 150px;
}

thead> tr> th {background-color: aqua;}

tbody> tr:nth-child(2n){background-color: bisque;}
tbody> tr:nth-child(2n-1){
    background-color: blue;
    color: aliceblue;}

tbody> tr:nth-child(2n):hover{
    background-color: darkgreen;
    color: aliceblue;}
tbody> tr:nth-child(2n-1):hover{
    background-color: pink;
    color: purple;}