tbody> tr:first-child>th { color: orangered;
    background-color: bisque;}



tbody> tr:nth-child(2n)>td{
    color: blueviolet;
    background-color: cyan;
}

tbody> tr:nth-child(2n-1)>td{
    color: orangered;
    background-color: bisque;
}

tbody> tr:last-child>td{ color: beige;
    background-color: blue;
    font-size: small;}

.tea{
        color: blueviolet;
        background-color: beige;
}

